<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <!-- Materialize CSS --> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  {{!-- Materialize Icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!-- <!-- CSS --> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Primp & Play</title>
<link href="https://fonts.googleapis.com/css?family=Niconne&display=swap" rel="stylesheet">
</head>

<body>
  {{!-- Navbar --}}
<nav>
  <div class="nav-wrapper">
    <a href="/public/primp-playlogo.png" class="brand-logo">Primp & Play</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
  </div>
</nav>

  {{{body}}}

{{!-- Footer --}}
            <footer class="page-footer">
              <div class="container">
                <div class="row">
                  <div class="col l4 s12">
                    <h5 class="white-text">Primp & Play</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                      content.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Reviews</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Member Login</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                  © 2019 Copyright Andrea Williams, Liana Bette, Lysia Stolhofer, Sonja Hennessy
                  
                </div>
              </div>
            </footer>
  {{!-- Javascript & jQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}}
  <script src="/js/index.js"></script>
  {{!-- Font Awesome --}}
  <script src="https://kit.fontawesome.com/a5a2c0b4da.js" crossorigin="anonymous"></script>
  {{!-- Compiled and minified JavaScript --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>