<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- <!-- Materialize CSS --> --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
     
      </script>
    {{!-- Materialize Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!-- <!-- CSS --> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- Font Awesome --}}
  <script src="https://kit.fontawesome.com/a5a2c0b4da.js" crossorigin="anonymous"></script>
  <title>Primp & Play</title>
</head>

<body>
  {{{body}}}
  
  {{!-- <!-- Javascript & jQuery --> --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
{{!-- Compiled and minified JavaScript --}}
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>

</html>
