
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Primp & Play</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
  </div>
</nav>

{{!-- Jumbotron with image and title? --}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">


        <img src="/public/images/Primp-play.png">
        
        {{!-- Buttons for new member and existing member --}}
        <a class="waves-effect waves-light btn-large" href="/newform">New Member Sign-Up</a>

        <a class="waves-effect waves-light btn-large" href="/profiles">Member Login</a>

        
{{!-- About Us --}}
<div id="about">
          </div>
        {{!-- Services List with Icons --}}
        <div id="services">
          </div>
          <div class="container">
            <div class="row">
              <div class="col l6 s12">

              <i class="fas fa-bath"></i>
              </div>
            </div>
          </div>
        

        {{!-- Reviews Carousel --}}
        <div id ="reviews">
        </div>
        <div class="review1">
            <p>
              "Milo and Otis love staying at Primp & Play. My mind is at ease while I travel that they're having fun." 
            </p>
              <img class="circle responsive-img" src="https://www.aspca.org/sites/default/files/cat-care_urine-marking_main-image.jpg" alt="author"/>
              <h5>Jack Smith</h5>
              <p>
                Client since June 2018~ <span>Stamford, CT</span>
              </p>
            </div>
    
          <!--Example-->
          <div class="testimonial_carousel mt50">
            <div class="testimonial_box">
              <p>
                "Primp & Play is the best place for my Coco. I always feel reassured he is in the best hands."
              </p>
              <br>
              <div class="testimonial_author">
                <img class="circle responsive-img" src="https://secure.i.telegraph.co.uk/multimedia/archive/01597/missing-dog_1597174c.jpg" alt="author" />
                <h5>Lindsay Mayer</h5>
                <p>
                  Client since April 2013~ <span>New Haven, CT</span>
                </p>
              </div>
            </div>

            <!-- Javascript & jQuery -->
            <script type="text/javascript"
              src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="/js/index.js"></script>