
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img src="https://www.aspca.org/sites/default/files/cat-care_urine-marking_main-image.jpg">
            <span class="card-title">Milo & Otis</span>
          </div>
          <div class="card-content">

            <p>"Milo and Otis love staying at Primp & Play. My mind is at ease while I travel that they're having
              fun."</p>

            <br>
            <p>Jack Smith ~ Client since June 2018</p>
          </div>
        </div>

      </div>

      {{!-- Review 2 --}}
      
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img src="https://secure.i.telegraph.co.uk/multimedia/archive/01597/missing-dog_1597174c.jpg">
            <span class="card-title">Lindsay & Coco</span>
          </div>
          <div class="card-content">
            <p>"Primp & Play is the best place for my Coco. I always feel reassured he is in the best hands."</p>
            <br>
            <p>Lindsay Meyer ~ Client since April 2013</p>
          </div>

        </div>
      </div>

      {{!-- Review 3 --}}
      <div class="column">
        <div class="card">
          <div class="card-image">
            <img src="https://heritagehumane.org/small-pets-thinking-outside-the-box/img_1020/">
            <span class="card-title">Flopsy, Mopsy & Cotton-tail</span>
          </div>
          <div class="card-content">
            <p>"My bunnies are always well cared for when they board at Primp & Play!"</p>
            <br>
            <p>Vincent ~ Client since December 2012</p>
          </div>
        </div>
      </div>

      {{!-- Review 4 --}}

      <div class="column">
        <div class="card">
          <div class="card-image">
            <img src="http://www.melbournebirdboarding.com.au/wp-content/uploads/2017/01/cropped-DSC_3674.jpg">
            <span class="card-title">Birdy</span>
          </div>
          <div class="card-content">

            <p>"Birdy loves all the care takers at Primp & Play. They send me status updates and keep me informed
              while I'm away."

            </p>
            <br>
            <p>Angela David ~ Client since May 2019</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
  <!-- Javascript & jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/public/js/index.js"></script>

