

<head>
  <link href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Niconne&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Profiles</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  {{!--FOR SELECT MATERIALIZE--}}
  <script>
    $(document).ready(function () {
      $('select').material_select();
    });
  </script>
</head

{{!----------------------------------------------CONTENT START-----------------------------------------------------}}
<div class="row">

  {{!------------------------------------------------CARD 1 START------------------------------------------------------}}
  <div class="column">
    <div class="card">
      <div class="card-image">
        {{!--IMAGE IS JUST AN EXAMPLE--}}

        <img
          src="https://ichef.bbci.co.uk/news/624/cpsprodpb/BE3A/production/_106189684_66d302ff-fdc7-48bc-8b1d-91a2318766e6.jpg">
        <span class="card-title">{{pet_name}}</span>
        {{!--CAN FLOATING BTN LINK TO SIGNED IN PET PROFILE?--}}

        <a class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">pets</i></a>

      </div>
      {{!--BUTTONS UNDERNEATH PET PIC FOR SIGN IN--}}
      <div class="card-action">
        {{!--BUTTON OPENS POP-UP TO PROMPT FOR PASSWORD, THEN LINKS TO
          SINGLE PROFILE--}}

        <a class="niconne" onclick="myPopup()" href="#">Sign in {{pet_name}}</a>

        <div class="form-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <h4>Login</h4>
            <label for="email"><b>Email</b></label>
            <input id="email" type="text" placeholder="Enter Email" name="Email" required>

            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw" required>

            <button onclick="handleauth(event)" type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
      </div>

      {{!--CARD FOOTER START--}}
      <div class="card-footer">
        <ul id="knopf">
          <li>
            {{!--Elizabeth Jones = dummy value for client_first_name and client_last_name--}}
            <a><i class="inline-icon material-icons">account_circle</i> Elizabeth Jones</a>
          </li>
          <li>
            {{!-- mailto:email...com = dummy value for email/ mailto: needs to stay so email is able to connect to user email provider instantly--}}
            <a href="mailto:Email@email.com"><i class="inline-icon material-icons">email</i> Email@email.com</a>
          </li>
          <li>
            {{!-- tel:+1-203-111-222 = dummy value for phonenumber/ tel: needs to stay so number is able to connect call instantly--}}
            <a href="tel:+1-203-111-222"><i class="inline-icon material-icons" width="14"
                height="15">phone</i>+1-203-111-222</a>
          </li>
        </ul>
      </div>
      {{!--CARD FOOTER END--}}
    </div>
  </div>


  {{!------------------------------------------------CARD 1 END------------------------------------------------------}}
</div>


{{!---------------------------------------------CONTENT END----------------------------------------------------}}

{{!--EXTRA CSS FOR THIS PAGE--}}
<style>
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
  }

  body {

    background: #D9D9D9;
  }

  h4 {
    font-family: 'Niconne', cursive;
  }

  .niconne {
    font-family: 'Pontano Sans', sans-serif;;

  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
  /* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 10px 45px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  }


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  .card {
    width: 350px;
    length: 600px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.7);

    background:  #F4B454;

    color: black; 
  }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: black; 
}  


  .card-footer {
    border-top: solid 1px #B6B6B6;
    padding: 3px 5px 10px 5px;
    display: flex;
    justify-content: center;
    font-size: 14px;

    background-color: rgb(247, 208, 150);
  }


  .card-footer ul {
    padding: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 5px;
  }

  .card-footer ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    vertical-align: baseline;
    font-size: 10px;
  }

  .card-footer ul li i {

    color: teal;

  }

  .inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
  }
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>

{{!--FUNCTIONS NEEDED ON THIS PAGE--}}
{{!--POP-UP WINDOW--}}
<script>

  function myPopup() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }


</script>

