{{!--CONTENT--}}

<div class="container">
  {{!--SINGLE PROFILE PAGE FOR EACH PET SIGNED UP--}}
  <div class="row">

    <div class="parallax-container">
      <div class="parallax"><img src=""></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">{{pet_name}}</h2>
        <h5 class="header">Owner: {{first_name}}</h5>
        <h2 class="header">Services:</h2>

        {{!--GROOMING SERVICE DROP DOWN--}}
        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled selected>Choose your options</option>
            <option value="1">SHampoo & Brush</option>
            <option value="2">Bath, Brush & Haircut</option>
            <option value="3">Nail trim</option>
          </select>
          <label>Grooming</label>
        </div>

        {{!--DAYCARE SERVICE DROP DOWN--}}
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Half Day</option>
            <option value="2">Full Day</option>
          </select>
          <label>Daycare</label>
        </div>

        {{!--BOARDING SERVICE DROP DOWN--}}
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Standard Suite</option>
            <option value="2">Luxury Suite</option>
          </select>
          <label>Boarding</label>
        </div>

      </div>
    </div>
    <div class="parallax-container">
      {{!--IMAGE IS JUST AN EXAMPLE--}}
      <div class="parallax"><img
          src="https://ichef.bbci.co.uk/news/624/cpsprodpb/BE3A/production/_106189684_66d302ff-fdc7-48bc-8b1d-91a2318766e6.jpg"></div>
    </div>



  </div>
</div>

<script >
setTimeout(() => {
$(document).ready(function() {
  $("select").formSelect();
});
}, 5000)

</script>
